version: "build #{build}"

build: off

environment:
  matrix:

    # For Python versions available on Appveyor, see
    # http://www.appveyor.com/docs/installed-software#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.
    - OS: Windows_NT
      PYTHON: "C:\\Python27-x64"
      TOOLSPATH: "C:\\mingw-w64\\x86_64-7.2.0-posix-seh-rt_v5-rev1\\mingw64\\bin;C:\\MinGW\\bin;C:\\MinGW\\msys\\1.0\\bin"
      MAKE: mingw32-make
    - OS: Windows_NT
      PYTHON: "C:\\Python36-x64"
      TOOLSPATH: "C:\\mingw-w64\\x86_64-7.2.0-posix-seh-rt_v5-rev1\\mingw64\\bin;C:\\MinGW\\bin;C:\\MinGW\\msys\\1.0\\bin"
      MAKE: mingw32-make
    - OS: Windows_NT
      PYTHON: "C:\\Python27"
      TOOLSPATH: "C:\\MinGW\\bin;C:\\MinGW\\msys\\1.0\\bin"
      MAKE: make
    - OS: Windows_NT
      PYTHON: "C:\\Python36"
      TOOLSPATH: "C:\\MinGW\\bin;C:\\MinGW\\msys\\1.0\\bin"
      MAKE: make
    - OS: Cygwin
      CYG_ROOT: "C:\\cygwin64"
      PYTHON: "C:\\cygwin64\\bin"
      PYTHON_VERSION: "2.7"
      ARCH: x86_64
      MAKE: make

before_build:
  - echo "Building Cysignals for %OS%"
  - set PATH=%PYTHON%;%PYTHON%\\scripts;%TOOLSPATH%;%PATH%
  - echo %PATH%
  - ps: >-
      if ( "$Env:OS" -ieq "Cygwin" ) {
          $python = "python" + $Env:PYTHON_VERSION[0] + $Env:PYTHON_VERSION[2]
          Start-Process -NoNewWindow -Wait `
              -FilePath $Env:CYG_ROOT\setup-$Env:ARCH.exe `
              -ArgumentList "-q -P $python,$python-devel,$python-pip,gcc-core,gcc-g++,libcrypt-devel"
      }
  - cd C:\projects\cysignals
  - python%PYTHON_VERSION% -c "import sys; print(sys.version); print(sys.platform); print(sys.path)"
  - python%PYTHON_VERSION% -m pip install -r requirements.txt
  - python%PYTHON_VERSION% -m cython --version

build_script:
  - '%MAKE% install'

test_script:
  - '%MAKE% check-all'
  - '%MAKE% distcheck'
