version: "build #{build}"

build: off

environment:
  matrix:

    # For Python versions available on Appveyor, see
    # http://www.appveyor.com/docs/installed-software#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.
    - os: Cygwin
      CYG_ROOT: "C:\\cygwin64"
      PYTHON_PATH: "C:\\cygwin64\\bin"
      PYTHON_VERSION: "3.9"
      ARCH: x86_64
      MAKE: make

before_build:
  - echo "Building Cysignals for %OS%"
  - set PATH=%PYTHON_PATH%;%PYTHON_PATH%\\scripts;%TOOLSPATH%;%PATH%
  - echo %PATH%
  - ps: >-
      if ( "$Env:OS" -ieq "Cygwin" ) {
          $python = "python" + $Env:PYTHON_VERSION[0] + $Env:PYTHON_VERSION[2..-1]
          Start-Process -NoNewWindow -Wait `
              -FilePath $Env:CYG_ROOT\setup-$Env:ARCH.exe `
              -RedirectStandardOutput out.txt -RedirectStandardError err.txt `
              -ArgumentList "-q -P $python,$python-devel,$python-pip,gcc-core,gcc-g++,libcrypt-devel"
          Get-Content -Path out.txt
          Get-Content -Path err.txt
      }
  - cd C:\projects\cysignals
  - python%PYTHON_VERSION% -c "import sys; print(sys.version); print(sys.platform); print(sys.path)"
  - python%PYTHON_VERSION% -m pip install -r requirements.txt
  - python%PYTHON_VERSION% -m cython --version

build_script:
  - '%MAKE% install PYTHON=python%PYTHON_VERSION%'

test_script:
  - '%MAKE% check-all PYTHON=python%PYTHON_VERSION%'
  - '%MAKE% distcheck PYTHON=python%PYTHON_VERSION%'
