name: Build & Test

on:
  pull_request:
    types: [opened, synchronize]
  push:
    tags:
      - '*'
  workflow_dispatch:
    # Allow to run manually

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: ${{ matrix.os }} with python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-13', 'macos-latest', 'ubuntu-latest', 'windows-latest']
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - name: Set up the repository
      uses: actions/checkout@v4
      with:
          submodules: recursive
          fetch-depth: 0
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup uv
      uses: astral-sh/setup-uv@v6
    - name: Build
      run: |
        uv sync --frozen --inexact -v --no-install-project
        uv sync --frozen --inexact -v --no-build-isolation --no-editable --config-settings=builddir=builddir
    - name: Install cypari2
      run: |
        sudo apt-get update
        sudo apt-get install pari-gp libpari-dev
        pip install --upgrade cypari2
      if: matrix.os == 'ubuntu-latest'
    - name: Test
      run: uv run --no-editable meson test --print-errorlogs -C builddir
