name: Build & Test

on:
  pull_request:
    types: [opened, synchronize]
  push:
    tags:
      - '*'
  workflow_dispatch:
    # Allow to run manually

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: ${{ matrix.os }} with python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-13', 'macos-latest', 'ubuntu-latest', 'windows-latest']
        python-version: ['3.10', '3.11', '3.12', '3.13-dev']
    steps:
    - name: Set up the repository
      uses: actions/checkout@v4
      with:
          submodules: recursive
          fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
          pip install --upgrade pip
          pip install --upgrade -r requirements.txt
          pip install --upgrade ninja
    - name: Build
      run: pip install --no-build-isolation --config-settings=builddir=builddir .
    - name: Test
      run: meson test --print-errorlogs -C builddir
